In [126]:
groceries= ['banana','bread','cheese']

In [127]:
print(groceries)

['banana', 'bread', 'cheese']

In [128]:
temp= [50,65,120]

In [129]:
print(temp)

[50, 65, 120]

In [130]:
groceries[0]

'banana'

In [131]:
groceries[1]

'bread'

In [132]:
temp[0]

50

In [133]:
groceries[1]= "lettuce"

In [134]:
print(groceries)

['banana', 'lettuce', 'cheese']

In [135]:
names= set()
names.add('James')
names.add('James')
names.add('Anna')
names.add('Tyler')
names.add('Anna')
print(names)

{'James', 'Anna', 'Tyler'}

In [136]:
names= {'James','Anna','Tyler','James','Anna'}
print(names)

{'James', 'Anna', 'Tyler'}

In [137]:
a= 3.23
b= 1e10

In [138]:
print(a)

3.23

In [139]:
print(b)

10000000000.0

In [140]:
c= 1e-10
print(c)

[type(a),type(b),type(c)]

1e-10

[float, float, float]

In [141]:
type(groceries)

list

In [142]:
names(0) #dose not work!!!

TypeError: 'set' object is not callable

## Dictionary

variable_name = {key : value}

In [143]:
data= {'rainfall_inches':1.34, 'temperture_psi':80}
print(data)

{'rainfall_inches': 1.34, 'temperture_psi': 80}

In [144]:
type(data)

dict

In [145]:
data= {'rainfall_inches':[1.34,1.56,4.33],
       'temperture_F':[80,96,75],
      'pressure_psi':[10,2,35]}
print(data)

{'rainfall_inches': [1.34, 1.56, 4.33], 'temperture_F': [80, 96, 75], 'pressure_psi': [10, 2, 35]}

In [154]:
data[0] #dose not work!!!

KeyError: 0

In [160]:
data['rainfall_inches']

[1.34, 1.56, 4.33]

In [161]:
data['rainfall_inches'][0], data['rainfall_inches'][2]

(1.34, 4.33)

In [162]:
data['pressure_psi']

[10, 2, 35]

In [163]:
data['pressure_psi'][0]

10

# For loops

Afor loop executes the same command through each value in a collection.

Building blocks of a for loop:

`for` `each-item` `in` `variable` `:` `(tab)` `do-something`

In [164]:
range(5)

range(0, 5)

In [165]:
for number in range(5):
    print(number)

0
1
2
3
4

In [166]:
for number in range(10):
    print("great job!")

great job!
great job!
great job!
great job!
great job!
great job!
great job!
great job!
great job!
great job!

In [167]:
for num in range(5):
    print(num*2)

0
2
4
6
8

In [168]:
del total
total= 0
for numb in range(5):
    total= total+numb
    print('Loop',total)

print(total)

Loop 0
Loop 1
Loop 3
Loop 6
Loop 10
10

In [169]:
1name= 10 #does not work

SyntaxError: invalid syntax (<ipython-input-169-26b12b4023e2>, line 1)

In [170]:
3 = 5 #does not work

SyntaxError: cannot assign to literal (<ipython-input-170-c0c56d39b11d>, line 1)

In [171]:
name1= 'Nathalia'
print(name1)

Nathalia

In [174]:
groceries #good practice to use "print(groceries)" instead!

['banana', 'lettuce', 'cheese']

In [175]:
print(data)

{'rainfall_inches': [1.34, 1.56, 4.33], 'temperture_F': [80, 96, 75], 'pressure_psi': [10, 2, 35]}

In [179]:
for key in data: #knows key already because of syntiac
    print(key)
    print(key[0:4])

rainfall_inches
rain
temperture_F
temp
pressure_psi
pres

In [180]:
for key in data: #knows key already because of syntiac
    print(key.split('_'))

['rainfall', 'inches']
['temperture', 'F']
['pressure', 'psi']

In [184]:
for key in data: #knows key already because of syntiac
    print(" ".join(key.split('_')))
    print(key.split('_')[0])
    print(key.split('_')[1])

rainfall inches
rainfall
inches
temperture F
temperture
F
pressure psi
pressure
psi

In [204]:
for key in data: #knows key already because of syntiac
    print(key.split('_')[0])
    print(key.split('_')[1])

print()

rainfall
inches
temperture
F
pressure
psi

# Challege: reverse the string using a for loop

There's many ways to reverse a string. I want to challage you to use a for loop. The goal is to practice how to build a for loop (use multiple print statements), and understand what's happening in each step.

In [211]:
original= "waterfall"

I want the finally output to be: llafretaw

In [217]:
original= "waterfall"

reverse= ""

for char in original:
    print("Getting char:",char)
    reverse= char + reverse
    print("Result now is",reverse)
    print("end")
    
print(reverse)

Getting char: w
Result now is w
end
Getting char: a
Result now is aw
end
Getting char: t
Result now is taw
end
Getting char: e
Result now is etaw
end
Getting char: r
Result now is retaw
end
Getting char: f
Result now is fretaw
end
Getting char: a
Result now is afretaw
end
Getting char: l
Result now is lafretaw
end
Getting char: l
Result now is llafretaw
end
llafretaw

In [262]:
original= "waterfall"

reverse= ""

for char in original:
    reverse= char + reverse
    
print(reverse)

llafretaw

In [237]:
original

'waterfall'

In [250]:
print(original[::-1])
print(original[-1::])

llafretaw
l

In [249]:
print(original[::-1])
print(original[::-2])
print(original[::-3])

llafretaw
lartw
lft

In [251]:
original[::1]

'waterfall'

In [253]:
print(original[:4])
print(original[:-4])
print(original[::-1])
print(original[::-4])

wate
water
llafretaw
lrw

In [261]:
2 == 3

False