In [68]:
groceries= ['banana','bread','cheese']

In [69]:
print(groceries)

['banana', 'bread', 'cheese']

In [70]:
temp= [50,65,120]

In [71]:
print(temp)

[50, 65, 120]

In [72]:
groceries[0]

'banana'

In [73]:
groceries[1]

'bread'

In [74]:
temp[0]

50

In [75]:
groceries[1]= "lettuce"

In [76]:
print(groceries)

['banana', 'lettuce', 'cheese']

In [77]:
names= set()
names.add('James')
names.add('James')
names.add('Anna')
names.add('Tyler')
names.add('Anna')
print(names)

{'James', 'Anna', 'Tyler'}

In [78]:
names= {'James','Anna','Tyler','James','Anna'}
print(names)

{'James', 'Anna', 'Tyler'}

In [79]:
a= 3.23
b= 1e10

In [80]:
print(a)

3.23

In [81]:
print(b)

10000000000.0

In [82]:
c= 1e-10
print(c)

[type(a),type(b),type(c)]

1e-10

[float, float, float]

In [83]:
type(groceries)

list

In [86]:
names(0) #dose not work!!!

TypeError: 'set' object is not callable

## Dictionary

variable_name = {key : value}

In [87]:
data= {'rainfall_inches':1.34, 'temperture_psi':80}
print(data)

{'rainfall_inches': 1.34, 'temperture_psi': 80}

In [88]:
type(data)

dict

In [89]:
data= {'rainfall_inches':[1.34,1.56,4.33],
       'temperture_F':[80,96,75],
      'pressure_psi':[10,2,35]}
print(data)

{'rainfall_inches': [1.34, 1.56, 4.33], 'temperture_F': [80, 96, 75], 'pressure_psi': [10, 2, 35]}

In [90]:
data[0] #dose not work!!!

KeyError: 0

In [91]:
data['rainfall_inches']

[1.34, 1.56, 4.33]

In [92]:
data['rainfall_inches'][0], data['rainfall_inches'][2]

(1.34, 4.33)

In [93]:
data['pressure_psi']

[10, 2, 35]

In [94]:
data['pressure_psi'][0]

10

# For loops

Afor loop executes the same command through each value in a collection.

Building blocks of a for loop:

`for` `each-item` `in` `variable` `:` `(tab)` `do-something`

In [97]:
range(5)

range(0, 5)

In [98]:
for number in range(5):
    print(number)

0
1
2
3
4

In [104]:
for number in range(10):
    print("great job!")

great job!
great job!
great job!
great job!
great job!
great job!
great job!
great job!
great job!
great job!

In [105]:
for num in range(5):
    print(num*2)

0
2
4
6
8

In [113]:
del total
total= 0
for numb in range(5):
    total= total+numb
    print('Loop',total)

print(total)

Loop 0
Loop 1
Loop 3
Loop 6
Loop 10
10